.blogCardContainer {
  z-index: 2;
  position: relative;
  display: flex;
  padding: 25px 12px;
  width: 80%;
  margin: auto;
  margin-top: 25px;
  border-radius: 25px;
  background: #13161f;
  transition: 0.5s ease;
  color: white;
}

.blogCardContainer:hover {
  transform: translate(-10px, -10px);
}

.blogCardContent {
  margin-left: 15px;
  margin-right: 50px;
  text-wrap: "wrap";
  flex: 2;
  width: 100%;
  height: 100%;
}

.blogCardOverlay {
  height: 100%;
  width: 100%;
  font-size: 47px;
  font-weight: 600;
  background-color: transparent;
}

.blogCardHeading {
  font-size: 35px;
  font-weight: 600;
}

.blogCardSubHeading {
  font-size: 20px;
  font-weight: 400;
  color: #777;
}

.blogCardContainer > img {
  width: 250px;
}

@media only screen and (max-width: 768px) {
  .blogCardContainer {
    flex-direction: column;
    width: 90%;
  }
  .blogCardContent {
    margin-left: 5px;
    margin-right: 5px;
  }
  .blogCardHeading {
    padding-top: 28px;
    font-size: 40px;
  }
  .blogCardOverlay {
    font-size: 37px;
  }
  .blogCardSubHeading {
    font-size: 20px;
    padding-bottom: 20px;
  }
  .blogCardContainer > img {
    width: 100%;
  }
}

.shimmer {
  background: linear-gradient(
    to right,
    transparent 0%,
    rgba(255, 255, 255, 0.1) 50%,
    transparent 100%
  );

  background-size: 200% 100%;

  animation: shimmer 1.5s infinite linear;
}

@keyframes shimmer {
  from {
    background-position: 200% 0%;
  }
  to {
    background-position: calc(200% - 1) 0;
  }
}
