

.banner{
    margin-left: 10vw;
    padding-left: 2vw;
    padding-right: 2vw;
    width: 80vw;
    height: 90vh;
    background-color: #8940FF;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-top: 2vh;
}

.leftBlock .title{
   font-size: 60px;
   font-weight: 500;
   color: white;
}

.leftBlock img{
    margin-top: 4vh;
    width: 15vw;
    height: 10vh;
    margin-left: 2vw;
}

.rightBlock img{
    width: 35vw;
    height: 40vh;
}

@media (max-width: 799px) {
    .banner{
        display: block;
    }

    .rightBlock img{
        width: 55vw;
        height: 25vh;
        margin-left: 20vw;
    }

    .leftBlock img{
        height: 10vh;
        width: 40vw;
    }

    .leftBlock .title{
        margin-top: 6vh;
        font-size: 30px;
        padding-top: 2vh;
    }
}

@media (max-width: 400px) {
    .leftBlock .title{
        margin-top: 3vh;
        font-size: 20px;
    }

    .leftBlock img{
        height: 6vh;
    }
}