.bannerContainer {
  width: 100%;
  padding-top: 40px;
  color: white;
}

.banner {
  width: 65%;
  margin: auto;
  text-wrap: wrap;
  font-size: 82px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -4px;
  line-height: 1;
}

.banner > span {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text !important;
  background: linear-gradient(rgb(137, 64, 255), rgb(229, 131, 245));
}
