.animatedText {
  color: transparent;
  -webkit-background-clip: text !important;
  background-clip: text !important;
  background: linear-gradient(rgb(0, 128, 128), rgb(0, 200, 128));
  font-size: 82px;
  padding-bottom: 10px;
  font-weight: 700;
}

.subHeading {
  font-size: 32px;
  font-weight: 700;
}

.contentHeader {
  background-color: transparent;
  font-size: 52px;
  font-weight: 600;
  padding-top: 87px;
}

.recentContainer {
  width: 80%;
  margin: auto;
  color: white;
  margin-top: 50px;
  margin-bottom: 50px;
  z-index: 2;
  position: inherit;
  background-color: transparent;
}

@media only screen and (max-width: 768px) {
  .animatedText {
    font-size: 48px;
  }
  .subHeading {
    font-size: 13px;
  }

  .contentHeader {
    font-size: 32px;
    padding-top: 40px;
  }
  .recentContainer {
    width: 90%;
  }
}
