

.footerBanner{
    margin-top: 8vh;
    width: 80vw;
    margin-left: 10vw;
    border-radius: 10px;
    background-color: #A5A6F6;
    display: flex;
    align-items: center;
    height: 30vh;
    margin-bottom: 35vh;
    
}

.header{
    color: white;
    width: 60vw;
    font-size: 38px;
    font-weight: 500;
    margin-left: 2vw;
}

.footerBanner img{
    width: 15vw;
    height: 8vh;
    margin-top: 2vh;
}

@media (max-width: 799px) {

    .footerBanner{
        display: block;
        margin-bottom: 10vh;
    }

   .header{
    margin-left: 5vw;
    width: 70vw;
    font-size: 20px;
   }

   .footerBanner img{
    margin-left: 5vw;
     width: 40vw;
     height: 6vh;
   }
}

@media (max-width: 400px) {
    .header{
        padding-top: 2vh;
        font-size: 15px;
    }
    .footerBanner img{
        height: 7vh;
    }
}