.headerContainer {
  position: inherit;
  z-index: 2px;
  width: 100%;
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: transparent;
}

.headerContent {
  width: 80%;
  margin: auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(14, 16, 29, 0.6);
  color: white;
}

.headerLogo {
  font-weight: 600;
  font-size: 30px;
  background-color: transparent;
}

.headerLinks {
  display: flex;
  font-weight: 500;
  font-size: 22px;
  background-color: transparent;
}

.headerGPT {
  width: 170px;
  height: 53px;
  border-radius: 12px;
  overflow: hidden;
}

.headerGPT > button {
  width: 100%;
  height: 100%;
  background-color: #8940ff;
  border: none;
  font-weight: 700;
  font-size: 16px;
  color: white;
}

@media screen and (max-width: 768px) {
  .headerContainer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .headerLinks {
    display: none;
  }
  .headerGPT {
    width: 120px;
    height: 41px;
  }
  .headerGPT > button {
    font-size: 14px;
  }
}
