
.header{
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 2vh;
    display: flex;
    justify-content: space-between;
}

.user{
    color: #8940FF;
}
.title{
    font-weight: 600;
    font-size: 20px;
}

.categories{
    color: gainsboro;
}

.categories span{
    color: #8940FF;
    cursor: pointer;
}

.register button{
    border-radius: 5px;
    background-color: #8940FF;
    color: white;
    border: none;
    font-size: 14px;
    width: 12vw;
    height: 5vh;
}


@media (max-width: 799px) {

    .register button{
        width: 30vw;
        font-size: 10px;
        padding: 0;
    }
   .categories{
    display: none;
   }
}