.headerContainer {
  position: inherit;
  z-index: 2px;
  width: 100%;
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: transparent;
}

.headerContent {
  width: 80%;
  margin: auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(14, 16, 29, 0.6);
  color: white;
}

.headerLogo {
  font-weight: 600;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.headerLinks {
  display: flex;
  font-weight: 500;
  font-size: 22px;
  background-color: transparent;
}
.headerLinks button {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  border: none;
  padding: 7px 25px 7px 25px;
  transition: border-color 0.5s, background-color 0.5s, color 0.5s;
  border-radius: 5px;
  transition: transform 0.5s;
  background-image: none;
}

.headerLinks button:hover {
  background-color: #008080;
  transform: scale(1.05);
}

.headerGPT {
  gap: 10px;
  display: flex;
}
.headerButton {
  flex: 1;
  background-color: #008080;
  border: none;
  border-radius: 12px;
  padding: 15px 25px;
  font-weight: 700;
  font-size: 16px;
  color: white;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/images/button-gradient.png");
}
.headerButton2 {
  /* flex: 1; */
  background-color: #008080;
  border: none;
  border-radius: 12px;
  padding: 15px 25px;
  font-weight: 700;
  font-size: 16px;
  color: white;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/images/button-gradient.png");
}

.headerGPT > button:hover {
  transform: scale(1.1);
}

.mobileNav {
  display: none;
}

@media screen and (max-width: 820px) {
  .headerContainer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .headerLinks {
    display: none;
  }
  .headerButton {
    display: none;
  }
  .headerContent {
    width: 90%;
    padding: 15px;
  }
  .mobileNav {
    display: block;
  }
}
