.blogDetailContent {
  width: 80%;
  margin: auto;
  padding: 50px;
  color: white;
  border-radius: 30px;
  position: relative;
  z-index: 2;
  background-color: #171e26;
}

.blogDetailHeading {
  font-weight: 600;
  font-size: 45px;
  background-color: transparent;
}
.blogDetailSubHeading {
  font-size: 25px;
  color: #777;
  line-height: 1;
  overflow-wrap: break-word;
  width: 100%;
  background-color: transparent;
}
.blogDetailContainer {
  margin-top: 25px;
}

@media only screen and (max-width: 768px) {
  .blogDetailContainer {
    margin-top: 10px;
  }
  .blogDetailContent {
    padding: 15px;
    width: 90%;
  }
  .blogDetailHeading {
    font-size: 35px;
  }
  .blogDetailSubHeading {
    font-size: 20px;
  }
}

.shimmer {
  background: linear-gradient(
    to right,
    transparent 0%,
    rgba(255, 255, 255, 0.1) 50%,
    transparent 100%
  );

  background-size: 200% 100%;

  animation: shimmer 1.5s infinite linear;
}

@keyframes shimmer {
  from {
    background-position: 200% 0%;
  }
  to {
    background-position: calc(200% - 1) 0;
  }
}
