.main {
  width: 80%;
  margin: auto;
  background: #13161f;
  z-index: 2;
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  min-height: 600px;
}
