.searchContainer {
  z-index: 2;
  position: relative;
  width: 100%;

  padding-top: 45px;
  background: transparent;
}

.searchContent {
  background-color: white;
  width: 50%;
  margin: auto;
  border-radius: 30px;
}

.buttonContainer {
  background-color: white;
}

.buttonContainer button {
  background-color: #008080;
  font-weight: 600;
  font-size: 14px;
  color: white;
  padding: 12px;
  border-radius: 24px;
  border: none;
  transition: transform 0.5s;
}

.buttonContainer button:hover {
  transform: scale(1.05);
}

@media only screen and (max-width: 768px) {
  .searchContent {
    width: 90%;
  }
}
