.featuresCardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  grid-auto-rows: auto;
  width: 80%;
  margin: auto;
  justify-items: center;
  padding-top: 45px;
}

.featuresCardContainer > div {
  height: 100%;
  border: 1px solid wheat;
  text-align: center; /* Ensures text inside cards is centered */
}

.featuresCardContainer img {
  display: block;
  margin-left: auto;
  margin-right: auto; /* Centers the icons */
}

.featuresSubHeading {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  color: #777;
}

.featuresHeading {
  font-size: 70px;
  font-weight: 600;
  width: 50%;
  text-align: center;
  margin: auto;
  line-height: 1;
}

/* Mobile Styles */
@media only screen and (max-width: 1200px) {
  .featuresCardContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 768px) {
  .featuresCardContainer {
    grid-template-columns: 1fr;
  }

  /* Update featuresSubHeading for mobile */
  .featuresSubHeading {
    font-size: 10px;
  }

  /* Update featuresHeading for mobile */
  .featuresHeading {
    font-size: 24px;
    width: 90%;
  }

  .featuresCardContainer .featureCard-heading {
    font-size: 15px; /* Heading size for mobile */
  }

  .featuresCardContainer .featureCard-subheading {
    font-size: 12px; /* Subheading size for mobile */
  }
}
