@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap");

* {
  background: #13161f;
  font-family: "Plus Jakarta Sans", "sans-serif";
}

:root {
  --image-blog0: url("../assets/icons/blog0.png");
  --image-blog1: url("../assets/icons/blog1.png");
}
