.iconContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginHeader {
  font-size: 60px;
  font-weight: 700;
  margin: 0px 0px 25px 0px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .iconContainer {
    display: none;
  }
  .loginHeader {
    font-size: 40px;
  }
}
