
.title{
    text-align: center;
    color: #8940FF;
}

.main{
    margin-top: 5vh;
}

.header{
    text-align: center;
}

.allTestimonials{
    background-color: 
    #D8D8FF;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45vh;
    padding-bottom: 5vh;
}

.eachTestimonial{
    margin-top: 2vh;
    padding: 5px;
    width: 30vw;
    border-radius: 5px;
}

.eachTestimonial span{
    font-size: 20px;
    font-weight: bold;
}

.userTestimonial{
    height: 20vh;
}

.userTestimonial span{
    margin-left: -3vw;
}

.userTestimonial img{
    width: 3vw;
    
}


.endInvertedComma{
    margin-left: 28vw;
    margin-top: -3vh;
}

.allTestimonials h4{
    text-align: center;
}

.allTestimonials p{
    text-align: center;
    font-weight: 500;
}

.buttons{
    margin-top: 9vh;
    justify-content: space-between;
}

.prev{
    border-radius: 10px;
    background-color: #8940FF;
    color: white;
    cursor: pointer;
}

.next{
    border-radius: 10px;
    margin-left: 22vw;
    background-color: #8940FF;
    color: white;
    cursor: pointer;
}

@media (max-width: 799px) {
    .eachTestimonial{
        width: 80vw;
    }
    .buttons{
        margin-left: 20vw;
    }

    .endInvertedComma{
        margin-left: 70vw;
    }
}