
.title{
    text-align: center;
    color: #8940FF;
}

.main{
    margin-top: 5vh;
}

.header{
    text-align: center;
    font-family: 'Lexend Deca';
}

.allTestimonials{
    background-color: 
    #D8D8FF;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45vh;
    padding-bottom: 5vh;
}

.eachTestimonial{
    margin-top: 2vh;
    padding: 5px;
    width: 30vw;
    border-radius: 5px;
}

.eachTestimonial span{
    font-size: 15px;
    font-weight: 400;
}

.userTestimonial{
    height: 20vh;
}

.userTestimonial span{
    margin-left: -3vw;
}

.userTestimonial img{
    width: 3vw;
    
}


.endInvertedComma{
    margin-left: 28vw;
   
}

.testimonialMessage{
    text-align: center;
    font-size: 23px;
    font-weight: 500;
    height: 16vh;
    font-family: 'Lexend Deca'
}

.allTestimonials p{
    text-align: center;
    font-weight: 500;
}

.buttonsContainer{
    display: flex;
    margin-top: 12vh;
    justify-content: space-between;
}

.prev{
    border-radius: 50%;
    background-color: #8940FF;
    color: white;
    cursor: pointer;
    margin-right: 5px;
}

.next{
    border-radius: 50%;
    background-color: #8940FF;
    color: white;
    cursor: pointer;
    margin-left: 5px;
}


@media (max-width: 799px) {
    
    .allTestimonials{
        height: 60vh;
    }

    .testimonialMessage{
       height: 30vh;
    }

    .eachTestimonial{
        width: 80vw;
    }
    .buttonsContainer{
        margin-top: 25vh;
        /* margin-left: 20vw; */
    }
     
    .userTestimonial img{
         width: 6vw;
    }
    .endInvertedComma{
        margin-left: 65vw;
        margin-top: -4vh;
    }
}

@media (max-width: 400px) {

    .allTestimonials{
        height: 60vh;
    }
    .testimonialMessage{
        font-size: 20px;
    }

    
}