
.main{
    border: 8px solid #8940FF;
    width: 100vw;
    height: 100vh;
}

.register h3{
    margin-top: 3vh;
    text-align: center;
    color: #8940FF;

}

.selector{
    display: flex;
    align-items: center;
    margin-top: 3vh;
    border: 1px solid gainsboro;
}

.lawyer{
    padding: 5px;
    width: 8vw;
    color:#8940FF;
    border-radius: 3px;
    cursor: pointer;
}

.accountant{
    padding: 5px;
    width: 14vw;
    color: #8940FF;
    border-radius: 3px;
    cursor: pointer;

}
.selectorContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    margin-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.inputItem{
    margin-top: 2vh;
}

.inputItem label{
   display: block;
}

input{
    width: 40vw;
    background-color:
    #F8FAFC;
    border: none;
}

.registerButton {
    margin-top: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.registerButton button{
    border-radius: 5px;
    background-color: #8940FF;
    color: white;
    cursor: pointer;
    border: none;
}