/* src/ArticleCard.css */
.card {
  background-color: transparent;
  border-radius: 8px;
  overflow: hidden;
  flex: 1 1 calc(25% - 20px);
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img,
.placeholder {
  width: 100%;
  height: 200px;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  color: #ffffff;
  /* background-color: #444444; */
  font-size: 22px;
  text-align: center;
  font-weight: 700;
}

.card img {
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.card-content {
  padding: 15px;
  color: #ffffff;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.card-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.read-time {
  color: #aaaaaa;
}

h3 {
  margin: 10px 0;
  font-size: 18px;
}

p {
  font-size: 14px;
  color: #cccccc;
  flex: 1;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .card {
    flex: 1 1 calc(50% - 10px);
  }
}

@media (max-width: 480px) {
  .card {
    flex: 1 1 100%;
  }
}
