
.main{
    margin-top: 5vh;
}

.header{
    text-align: center;
    font-size: 15px;
    color:#8940FF;
}

.title{
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    font-family: 'Lexend Deca'
}

.features{
    display: flex;
    margin-left: 10vw;
    margin-right: 10vw;
    align-items: center;
    justify-content: space-between;
}

.features div{
    width: 18vw;
}

.features img{
    width: 15vw;
}

.features h5{
    font-family: 'Lexend Deca';
    font-size: 20px;
}

.features p{
    text-align: center;
    margin-left: -2vw;
    font-size: 12px;
    font-family: 'Lexend Deca'
}

.businessContainer h5{
    margin-left: 2vw;
}

@keyframes moveUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px); 
    }
}

.networkContainer:hover{
    animation: moveUp 0.3s ease forwards;
    cursor: pointer;
}

.visibilityContainer:hover{
    animation: moveUp 0.3s ease forwards;
    cursor: pointer;
}

.businessContainer:hover{
    animation: moveUp 0.3s ease forwards;
    cursor: pointer;
}

@media (max-width: 799px) {
    .features{
        display: block;
        /* margin-left: 20vw; */
    }

    .features div{
        width: 80vw;
    }
    
    .features img{
        margin-left: 20vw;
        width: 30vw;
    }
    
    .features h5{
        margin-left: 20vw;
        width: 60vw;
    }

    .visibilityContainer h5{
        margin-left: 15vw;
    }

    .features p{
        text-align: center;
        margin-left: 10vw;
        margin-right: 10vw;
        font-size: 15px;
    }
}