.container > button {
  background-image: none;
}

.inputGrid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
  .inputGrid {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    justify-items: center;
  }
}
