.container > button {
  background-image: none;
}

.inputGrid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
  .inputGrid {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    justify-items: center;
  }
}

/* index.module.css */

.container {
  display: flex;
  flex-wrap: wrap;
  /* width: 80%; */
  margin: auto;
  position: relative;
  /* padding-bottom: 60px; */
  /* border: 2px solid blue; */
}

/* .sidebarContainer {
  max-width: 310px;
  position: relative;
  z-index: 1;
} */

.contentContainer {
  flex: 3 1 600px;
  /* max-width: calc(100% - 320px); */
  /* background-color: #222222; */
  border-radius: 10px;
  position: relative;
  z-index: 1;
  /* margin-left: 5%; */
  padding-left: 70px;
}
.contentContainer1 {
  flex: 3 1 600px;
  /* max-width: calc(100% - 320px); */
  /* background-color: #222222; */
  border-radius: 10px;
  padding: 20px;
  position: relative;
  z-index: 1;
  margin: 12px 12px 12px 321px;

  /* margin-left: 21%; */
}

.inputGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    width: 100%;
    padding: 0 10px;
  }

  .contentContainer1 {
    margin-left: auto;
  }

  .sidebarContainer {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .contentContainer {
    max-width: 100%;
    /* padding: 10px; */
  }

  .inputGrid {
    flex-direction: column;
  }
}

.modalContent {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  color: black;
  border-radius: 10px;
  overflow-y: scroll;
  padding: 10px;
  transform: translate(-50%, -50%);
  box-shadow: 24px;
  max-height: 90vh;
  max-width: 90vw;
}

.modalHeader {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-end;
}

.modalBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 50px;
}

.modalActions {
  display: flex;
  gap: 5px;
}

@media (max-width: 768px) {
  .modalContent {
    padding: 20px;
  }

  .modalBody {
    padding: 20px;
  }
}

.bgbutton {
  background-image: url("../assets/images/button-gradient.png");
}
