.sidebar {
  position: absolute;
  width: 309px;
  height: 100%;
  background-color: #222222;
}

.sidebar div {
  background-color: transparent;
}

@media only screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
