.sidebarContainer {
  position: absolute;
  width: 309px;
  height: 100%;
  background: transparent;
}
.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 16px;
  background: #222222;
  width: 309px;
  align-items: center;
  color: white;
  z-index: 6;
}
.sidebar div {
  background-color: transparent;
}

@media only screen and (max-width: 768px) {
  .sidebar {
    z-index: 4;
    width: 260px;
  }
  .sidebarContainer {
    width: 100%;
  }
}
