.secondaryContainer {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  gap: 80px;
  padding-top: 10px;
}

.welcomePointerContainer {
  background-color: transparent;
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

@media only screen and (max-width: 768px) {
  .secondaryContainer {
    display: flex;
  }
  .welcomePointerContainer {
    gap: 25px;
    padding-top: 25px;
  }
}
