.container {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  max-width: 202px;
  border: 1px solid white;
}

.iconContainer {
  background-color: transparent;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
}

.icon {
  background-color: transparent;
}

.contentContainer {
  background-color: transparent;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5;
}

.heading {
  background-color: transparent;
}

.subHeading {
  background-color: transparent;
  font-size: 14px;
  color: #777;
}
