.blogCardContainer {
  z-index: 2;
  position: relative;
  padding: 25px 12px;
  width: 359px;
  margin: auto;
  margin-top: 25px;
  border-radius: 25px;
  background: #13161f;
  transition: 0.5s ease;
  color: white;
}

.blogCardContainer:hover {
  transform: translate(-10px, -10px);
}

.blogCardContent {
  margin-left: 15px;
  margin-right: 50px;
  margin-top: 18px;
  text-wrap: "wrap";
  width: 100%;
  height: 100%;
}

.blogCardOverlay {
  height: 100%;
  width: 100%;
  font-size: 47px;
  font-weight: 600;
  background-color: transparent;
}

.blogCardHeading {
  font-size: 30px;
  font-weight: 600;
  margin-top: 10px;
}

.blogCardSubHeading {
  font-size: 25px;
  font-weight: 400;
  color: #777;
}

@media only screen and (max-width: 768px) {
  .blogCardContainer {
    width: 100%;
  }
}

.shimmer {
  background: linear-gradient(
    to right,
    transparent 0%,
    rgba(255, 255, 255, 0.1) 50%,
    transparent 100%
  );

  background-size: 200% 100%;

  animation: shimmer 1.5s infinite linear;
}

@keyframes shimmer {
  from {
    background-position: 200% 0%;
  }
  to {
    background-position: calc(200% - 1) 0;
  }
}
